<h1><%= @passenger.name %></h1>

<h3>All flights for <%= @passenger.name %>:</h3><br>

<ul>
<% @passenger.flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
    <li><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></li><br>
  </section>
<% end %>
</ul>